<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectandroid.coe.application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Number"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Times"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Greet"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".General"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Direction"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Tnumber" />
        <activity android:name=".Ttimes" />
        <activity android:name=".Tgreet" />
        <activity android:name=".Tgeneral" />
        <activity android:name=".Tdirec" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Accom"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Taccom" />
        <activity android:name=".Trans"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Ttrans" />
        <activity android:name=".Emer"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Temer" />
        <activity android:name=".Shop"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Tshop" />
        <activity android:name=".Occa"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Tocca"/>
    </application>

</manifest>